body {
    max-width: 90%;
    margin:0 auto;
    font-family: 'Open Sans', sans-serif;
    color: rgb(73, 53, 53);
    letter-spacing: 0.1em;
    background: -webkit-linear-gradient(-5deg, rgb(22, 135, 237), rgb(58, 209, 168));
    background: linear-gradient(-5deg, rgb(22, 135, 237), rgb(58, 209, 168));
    background-image: url(horses2.png);
    background-size: cover;
    background-attachment: fixed;
	background-position:bottom right;
	background-repeat:no-repeat;
    z-index:-1;
    width: auto;
    }

body > p:first-of-type {
    font-weight: bold;
}

a:link {
    color: blue;
    font-size: 18px;
    }

a:visited {
    color: purple;  
   
}

a:hover {
    color: rgb(130, 209, 12);
  
}

q {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    font-size:160%;
    background-color: rgb(236, 232, 232);
    border-left-style: solid;
    border-left-width: 3px;
    border-color: rgb(185, 172, 172);
    padding: 30px;
    display: inline-block;
    font-style: italic;
    /*margin: 80px 0px;*/
}
.farm {
    border-left-style: solid;
    border-left-width: 3px;
    border-color:rgb(99, 238, 99);

}

.ppl {
    border-left-style: solid;
    border-left-width: 3px;
    border-color: rgb(235, 146, 235);
}

header > h1 {
    background-color: rgb(247, 247, 133);
}

span.good {
    text-transform: capitalize;
    color: green;
}

span.bad {
    text-transform: capitalize;
    color: red;
}

table,th,tr, td {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(126, 78, 7);
}

table {
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background-color: grey;
}

tr: :nth-child(even) {
    background-color: white;
}

figure {
    float: left;   
    padding-right: 20px;
}

